html {
    font-size: 16px;
}

li,
button,
p {
    font-size: 1rem;
}

.desktop {
    display: none;
}

video {
    width: 350px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    color: #3e3e3e;
    font-size: 2.5rem;
    font-weight: 700;
}


/* HEADER AND NAVIGATION BAR MOBILE*/

nav {
    display: flex;
    min-height: 64px;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: 1 1 75%;
    justify-content: space-around;
}

nav h1 {
    flex: 1 1 25%;
    text-align: center;
}

nav .logo {
    height: 2.5rem;
}

nav img {
    height: 1.75rem;
}


/* MEDIA QUERY */


/* HERO SECTION */

.hero-container {
    display: flex;
    height: 600px;
    flex-direction: column;
    background: #d4d4d4;
    margin-bottom: 16px;
}

.hero-img {
    height: 350px;
    overflow: hidden;
}

.hero-img img {
    width: 100%;
    position: relative;
    top: -20px;
}

.hero-info {
    margin: 2rem 1rem;
}

.hero-info h2 {
    margin-bottom: 2rem;
}

.hero-info p {
    margin-bottom: 1.5rem;
}

.hero-info button {
    border: none;
    padding: 0.75rem 0;
    margin: 0 auto;
    width: 100%;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    background-color: #838383;
    cursor: pointer;
    /* transition: background 0.5s; */
}

.large-text {
    font-size: 1.75rem;
}


/* MEDIA QUERY */


/* INFORMATION SECTION */

.information-container {
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
}

.information-container img {
    width: 100%;
}

.section-text {
    padding: 24px 16px 64px;
}

.section-text h3,
.section-text p {
    padding-bottom: 8px;
}

.section-text a {
    text-decoration: none;
    color: rgb(95, 140, 155);
}


/* MEDIA QUERY */


/* COURSES SECTION */

.courses-container {
    margin-top: -32px;
    border-top: 1px solid rgba(100, 100, 100, 0.1);
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);
    padding-top: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 32px 16px 32px;
}

.courses-container h2 {
    margin-bottom: 16px;
}

.courses-container a {
    text-decoration: none;
}

.courses-container .course-section {
    padding: 16px 16px 24px;
    background: #d4d4d4;
    margin-bottom: 8px;
}

.course-section {
    text-align: left;
    color: #363636;
    font-size: 24px;
}


/* MEDIA QUERY */